@model SistemaBodega.Models.Alquiler

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Alquiler</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <label asp-for="ClienteId" class="control-label">Cliente</label>
                <select asp-for="ClienteId" class="form-control" asp-items="ViewBag.ClienteId"></select>
                <span asp-validation-for="ClienteId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="BodegaId" class="control-label">Bodega</label>
                <select asp-for="BodegaId" class="form-control" asp-items="ViewBag.BodegaId"></select>
                <span asp-validation-for="BodegaId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FechaInicio" class="control-label"></label>
                <input asp-for="FechaInicio" class="form-control" />
                <span asp-validation-for="FechaInicio" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FechaFin" class="control-label"></label>
                <input asp-for="FechaFin" class="form-control" />
                <span asp-validation-for="FechaFin" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <input asp-for="RenovacionAutomatica" class="form-check-input" />
                <label asp-for="RenovacionAutomatica" class="form-check-label"></label>
            </div>

            <div class="form-group form-check">
                <input asp-for="Activo" class="form-check-input" />
                <label asp-for="Activo" class="form-check-label"></label>
            </div>

            <div class="form-group mt-3">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
